/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  border-bottom: 0.5px solid grey;
}
.flex-wrapper {
  background-color: rgb(248, 248, 246);
  border: 1px solid red;
  display: flex;
  padding: 1em;
  gap: 2em;
  justify-content: space-around;
}
.channel-container {
  max-width: 30%;
  padding: 0.5em 10em 0 10em;
  border-right: 10px double grey;
}
.message-container {
  min-width: 50%;
  background-color: white;
}
.message-list {
  padding-left: 2em;
  max-height: 40vh;
  overflow-y: scroll;
}
.send-msg-form {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 248, 246);
  border-top: 1px solid grey;
  padding: 0.5em 0;
}
.msg-input {
  width: 50em;
  height: 5em;
}
.send-msg-btn {
  padding: 0 3em;
}
.msg {
  max-width: 50ch;
  display: grid;
  border: 1px solid grey;
  box-shadow: 3px 3px 5px grey;
  margin: 1em;
  padding: 0 1em;
}
.msg-header {
  max-width: 35ch;
  font-size: small;
  display: flex;
  justify-content: space-between;
}
.msg-author{
  padding: 0 0.5em;
  font-weight: 900;
  color: green;
}